body {
  background-color:#88BBE8;
}

title {
  text-align: center;
}
header {
  text-align: center;
}

div {
  border: 2px solid black;
  padding: 0.5em;
  margin: 1em;
  background-color: red;
}

div div {
  background-color: white;
  padding: 1em;
}

h4 {
  font-style: italic;
}