@font-face {
  font-family: open-sans;
  src: url(../open-sans/OpenSans-Regular.ttf);
}

body {
  background-color:#88BBE8;
  font-family: open-sans;
}

title {
  text-align: center;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
}

.content{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 15%;
  padding-right: 15%;
}

section {
  border: 2px solid black;
  padding: 1em;
  margin: 1em;
  background-color: #5F82A2;
  width: 300px;
  margin-left: 18.5%;
  margin-right: 18.5%;
}

.inner{
  background-color: #DBEAF8;
  padding: 1em;
  text-align: center;
}

h4 {
  font-style: italic;
}

.title{
  text-align: center;
}

code {
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  display: inline-block;
}

.line {
  width: 100%;
  border: 1px solid black;
}

.faint {
  width: 90%;
  border: 1px solid #808080;
  margin-left: 5%;
}
p {
  font-size: 1.1em;
}

a:hover {
  color: red;
}
